.scroll-to-top{
    position: fixed;
    bottom: 4.5rem;
    right: 1.5rem;
    z-index: 1000;
    cursor: pointer;
}

@media(min-width: 768px){
    .scroll-to-top{
        bottom: 11.5rem;
        right: 3rem;
    }
}

.scroll-to-top a{
    font-size: 3rem;
    color: #4698e5;
    line-height: 0;
    border: none;
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 100%;
    cursor: pointer;
}