.link{
    font-size: 1.6rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.link:hover{
    color: var(--link-hover-color);
}

.link--header{
    position: relative;
    padding: 0rem 2.4rem;
}

.link--header::after{
    display: none;
    content: " "; 
    position: absolute;
    right: 0;
    top: 0.5rem;
    bottom: 0.2rem;
    width: 2px;
    background: var(--link-separator-color-header);
}

@media(min-width: 1024px){
    .link--header::after{
        display: block;
    }
}

.link--header-no-border::after{
    content: none;
}

.link--login{
    display: inline-block;
    padding: 0.3rem 1.8rem;
}

@media(min-width: 768px){
    .link--login{
        padding: 0.3rem 2.8rem;
    }
}

.link--footer{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 300;
    font-family: "Montserrat";
}
